build
war/jib/
war/javac/
war/WEB-INF/
gwt-unitCache/
tools/extractjre/bin/
tools/extractjre/out/
tools/extractjre/FileSystemContent.java
test-classes/

.gwt/
.deps/
target/

# Node modules
node_modules/
